<!-- Posts -->
<section id="{{ include.section.section_id }}" class="posts">
    {% assign slice_length = include.section.num_posts_displayed | minus: 0 %}
    {% assign display_posts = include.site.posts | slice: 0, slice_length %}
    {% assign arr = display_posts | sort: 'date' | reverse %}
    {% for post in arr %}
    <a href="{{ post.url | relative_url }}" class="article-teaser">
        {% if post.thumb_img_path %}<img class="thumbnail" src="{{ post.thumb_img_path | relative_url }}"
                                       alt="{{ post.title }}"/>{% endif %}
        <div class="copy">
            <h2>{{ post.title }}</h2>
            <h3 class="publish-date">Published on {{ post.date | date: '%B %d, %Y' }}</h3>

            <p class="summary">{{ post.excerpt }}</p>
            <div class="text-link">Read more</div>
        </div>
    </a>
    {% endfor %}
</section>
