html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 848px;
    min-height: 100vh;
    padding: 0 $small;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.content img {
    max-width: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
section {
    margin: 0;
    padding: 0;
    font-family: $roboto;
    font-size: $tiny;
}

hr {
    width: $xl;
    margin: $tiny auto;
    border: none;
    background: rgba(0, 0, 0, .1);
    height: 1px;
}

blockquote {
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    font-size: $tiny;
    line-height: $small;
    box-sizing: border-box;
    margin: 0 0 $micro $tiny;
    padding: $micro 0 $micro $tiny;
    border-left: ($micro / 2) solid rgba(66, 133, 244, .2);

    @media screen and (min-width: $tablet) {
        margin: $tiny 0 $tiny $small;
        padding: $micro $small;
    }
}

.clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.content .inline-image {
    width: 100%;
    height: auto;
    margin: $tiny 0;

    @media screen and (min-width: $mobile) {
        width: initial;
        float: left;
        max-width: calc(50% - #{$tiny});
        margin: $tiny $tiny $tiny 0;
    }
}

.block-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: $small;

    @media screen and (min-width: $tablet) {
        margin-bottom: $medium;
    }
}

.header-image {
    display: block;
    width: 100%;
    height: auto;
    margin: $small 0;

    @media screen and (min-width: $tablet) {
        margin: $medium 0;
    }
}

.content {
    margin: 0 0 $small 0;

    p:first-child {
        margin-top: $small - 6px;
    }
}
