
// colors
// cream: #F8F8F8;
// offWhite: #fbfbfb;
// lightestGrey: #E6E6E6;
// lighterGrey: #BCBCBC;
// lightGrey: #7D8E97;
// grey: #133344;
// red: #F6705D;
$blue: #4285F4;
// navy: #011627;
// yellow: #FF9F1C;

// typography
$light: 300;
$regular: 400;
$bold: 500;

// fonts
$roboto: 'Roboto', sans-serif;

// padding
$micro: 8px;
$tiny: 16px;
$small: 24px;
$medium: 40px;
$large: 64px;
$xl: 104px;
$xxl: 168px;
$xxxl: 270px;
$xxxxl: 434px;
$xxxxxl: 698px;

// border radius
$smallBorderRadius: 4px;
$borderRadius: 10px;

// responsive breakpoints
$mobileMax: 479px;
$mobile: 480px;
$tabletMax: 767px;
$tablet: 768px;
$desktopMax: 959px;
$desktop: 960px;
$displayMax: 1199px;
$display: 1200px;
