<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'images/favicon-16x16.png' | relative_url }}">
    <link rel="shortcut icon" href="{{ 'images/favicon.ico' | relative_url }}">
</head>
<body>
{{ content }}
<!-- Scripts -->
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
</body>
</html>
